# Poverty Estimates Data

District level data on the size of the population, the size of the school age population, and the size of the school age population that is in poverty.


Codebook, Districts SAIPE, 1995–2018 15.5 KB

Districts SAIPE, 1995–2018 24.9 MB

In [2]:
import pandas as pd

poverty_estimates = pd.read_csv('poverty_estimates/districts_saipe.csv')
print(poverty_estimates.columns)
poverty_estimates

Index(['leaid', 'year', 'fips', 'district_id', 'district_name',
       'est_population_total', 'est_population_5_17',
       'est_population_5_17_poverty', 'est_population_5_17_poverty_pct',
       'est_population_5_17_pct'],
      dtype='object')

,leaid,year,fips,district_id,district_name,est_population_total,est_population_5_17,est_population_5_17_poverty,est_population_5_17_poverty_pct,est_population_5_17_pct
0,100005,1995,1,5,ALBERTVILLE CITY SCH DIST,16294,2779,506,0.182080,0.170554
1,100030,1995,1,30,ALEXANDER CITY CITY SCH DIST,17704,3258,850,0.260896,0.184026
2,100060,1995,1,60,ANDALUSIA CITY SCH DIST,9602,1706,571,0.334701,0.177671
3,100090,1995,1,90,ANNISTON CITY SCH DIST,27394,4907,2015,0.410638,0.179127
4,100100,1995,1,100,ARAB CITY SCH DIST,7984,1299,223,0.171671,0.162700
...,...,...,...,...,...,...,...,...,...,...
303144,5606240,2018,56,6240,Washakie County School District 1,7208,1297,183,0.141095,0.179939
303145,5605820,2018,56,5820,Washakie County School District 2,677,90,8,0.088889,0.132939
303146,5604830,2018,56,4830,Weston County School District 1,5497,834,135,0.161871,0.151719
303147,5606090,2018,56,6090,Weston County School District 7,1470,254,15,0.059055,0.172789
303148,7200030,2018,72,30,Puerto Rico,3195153,467390,253216,0.541766,0.146281

In [6]:
# Creates Code dictionaries to help add human readable Columns to dataframe
value_mappings = pd.read_excel(open('poverty_estimates/codebook_districts_saipe (1).xls', 'rb'),
              sheet_name='values')

fips_codes = value_mappings[value_mappings["format"] == "fips"].set_index('code').code_label.to_dict()
poverty_estimates["state_name"] = poverty_estimates["fips"].map(fips_codes)
poverty_estimates

,leaid,year,fips,district_id,district_name,est_population_total,est_population_5_17,est_population_5_17_poverty,est_population_5_17_poverty_pct,est_population_5_17_pct,state_name
0,100005,1995,1,5,ALBERTVILLE CITY SCH DIST,16294,2779,506,0.182080,0.170554,Alabama
1,100030,1995,1,30,ALEXANDER CITY CITY SCH DIST,17704,3258,850,0.260896,0.184026,Alabama
2,100060,1995,1,60,ANDALUSIA CITY SCH DIST,9602,1706,571,0.334701,0.177671,Alabama
3,100090,1995,1,90,ANNISTON CITY SCH DIST,27394,4907,2015,0.410638,0.179127,Alabama
4,100100,1995,1,100,ARAB CITY SCH DIST,7984,1299,223,0.171671,0.162700,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
303144,5606240,2018,56,6240,Washakie County School District 1,7208,1297,183,0.141095,0.179939,Wyoming
303145,5605820,2018,56,5820,Washakie County School District 2,677,90,8,0.088889,0.132939,Wyoming
303146,5604830,2018,56,4830,Weston County School District 1,5497,834,135,0.161871,0.151719,Wyoming
303147,5606090,2018,56,6090,Weston County School District 7,1470,254,15,0.059055,0.172789,Wyoming
303148,7200030,2018,72,30,Puerto Rico,3195153,467390,253216,0.541766,0.146281,Puerto Rico

In [7]:
poverty_estimates.to_parquet('codebook_districts_saipe_df_1995_2018_pyarrow.parquet.gzip',
                    engine='fastparquet',
                   compression='gzip')