### Reading proficiency for select states

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

value_mappings = pd.read_excel('edfacts_district_assesments/codebook_districts_edfacts_assessments.xls', sheet_name='values')
print(value_mappings.columns)
value_mappings

Index(['format', 'code', 'code_label', 'code_desc'], dtype='object')

          format  code                                    code_label code_desc
0     disability    -3                               Suppressed data       NaN
1     disability    -2                                Not applicable       NaN
2     disability    -1                          Missing/not reported       NaN
3     disability     0                 Students without disabilities       NaN
4     disability     1  Students with disabilities served under IDEA       NaN
..           ...   ...                                           ...       ...
129  special_pop     1                                           Yes       NaN
130  special_pop    99                                         Total       NaN
131       string    -3                               Suppressed data       NaN
132       string    -2                                Not applicable       NaN
133       string    -1                          Missing/not reported       NaN

[134 rows x 4 columns]

In [22]:
reading_proficiency_df = pd.read_parquet('edfacts_district_assesments/districts_edfacts_assessments.parquet.gzip')
print(reading_proficiency_df.columns)

Index(['leaid', 'leaid_num', 'year', 'lea_name', 'fips', 'grade_edfacts',
       'race', 'sex', 'lep', 'homeless', 'migrant', 'disability',
       'econ_disadvantaged', 'foster_care', 'military_connected',
       'read_test_num_valid', 'read_test_pct_prof_low',
       'read_test_pct_prof_high', 'read_test_pct_prof_midpt',
       'math_test_num_valid', 'math_test_pct_prof_low',
       'math_test_pct_prof_high', 'math_test_pct_prof_midpt'],
      dtype='object')

In [23]:
# map geo data to reading proficiency data 
fips_states = value_mappings[value_mappings['format'] == 'fips'].set_index('code').code_label.to_dict()
reading_proficiency_df['state_name'] = reading_proficiency_df['fips'].map(fips_states)

NameError: name 'race_df' is not defined