# Georgia Student Data
School Year:   
2012-Present Year

In [35]:
import os
import glob
import datetime
import pandas as pd

valid_columns = ["State", "County","School District", "School Name", "Grade #",	"School Year"	
           "Ethnicity/Race","Economically Disadvantaged",	"ESL",	"Disability",	"Migrant",	
           "Student/Teacher Ratio",	"Enrollment Rate", "Dropout Rate", "Gender"]

#add quarter or month to the valid col?

valid_years = list(range(2012,datetime.datetime.today().year))
valid_summaries = {"ss": "Statewide Totals" , "sr": "Statewide Region Totals", "so": "Statewide County Totals",
"sd": "Statewide District Totals", "sc":"Statewide Campus Totals", "rr": "Selected Regionwide Totals", "ro":"Selected Regionwide County Totals",
"rd": "Selected Regionwide District Totals", "rc": "Selected Regionwide Campus Totals", "oo":"Selected Countywide Totals", "od":"Selected Countywide District Totals",
"oc": "Selected Countywide Campus Totals", "id": "Selected District Totals using district number",
 "dd": "Selected District Totals using district name", "ic":"Selected Campus Totals using district number",
 "ic": "Selected Campus Totals using district number", "dc": "Selected Campus Totals using district name",
 "nc": "Selected Campus Totals using campus number", "cc":"Selected Campus Totals using campus name"}
valid_groupings = ["Ethnicity",  "Gender", "Grade", "Gender and Ethnicity", "Grade and Ethnicity", "Grade and Gender"]

# Enrollment Reports

School Year:   
2012-Present Year

In [19]:
all_years = [] 

#TODO: I overwrote this for testing since the python script is failing to auto generate the "Gender and Ethnicity" data
valid_years = [2019]

for year in valid_years: 
    df_groups = []
    for grouping in ["Gender and Ethnicity", "Grade", "Disability"]:
        
        datapath = "{}/{}/{}".format(year, valid_summaries["so"], grouping)
        filenames = glob.glob(os.path.join(datapath, "*.csv"))
        if(grouping == "Gender and Ethnicity"):
            dfs = list(pd.read_csv(files, low_memory=False, error_bad_lines=False, skiprows=3) for files in filenames)
        else: 
            dfs = list(pd.read_csv(files, low_memory=False, error_bad_lines=False) for files in filenames) 
        for df in dfs: 
            df["Year"] = year
            df["State"] = "Georgia"
        df_groups.append(pd.concat(dfs, ignore_index=True, sort=True))
    all_years.append(df_groups)
        
print(all_years[0][0].keys())
print("\n")
print(all_years[0][1].keys())
print("\n")
print(all_years[0][2].keys())

race_mappings = {'  Ethnic Hispanic': 'Hispanic', '  Race AmericanIndian': 'Native American', '  Race Asian': 'Asian',
       '  Race Black': 'Black', '  Race Pacific Islander': 'Pacific Islander', '  Race White': 'White',
       '  Two or more Races ': 'Multi-racial'}

grade_mappings = { 'Pre-K':' Grade PK','K': 'Grade KK', '01': ' Grade 01', '02':'Grade 02', '03':'Grade 03', '04':'Grade 04',
       '05':'Grade 05', '06': 'Grade 06', '07':'Grade 07','08': 'Grade 08','09': 'Grade 09', '10': 'Grade 10',
       '11':'Grade 11', '12': 'Grade 12'}

disability_mappings = { "MID": "Mild Intellectual Disability", "MoID": "Moderate Intellectual Disability", "SID":"Severe Intellectual Disability", 
                     "PID": "Profound Intellectual Disability", "EBD" : "Emotional/Behavioral Disorder", "SLD" : "Specific Learning Disability", 
                     "OI" :"Orthopedic Impairment", "D" :"Deaf", "OHI" : "Other Health Impairment", "BL" : "Blind", 
                     "DB":"Deaf and Blind", "SI":"Speech/Language Impairment", "AUT":"Autism", "TBI": "Traumatic Brain Injury","SDD" :"Significant Developmental Delay" }

Index(['  Ethnic Hispanic', '  Race AmericanIndian', '  Race Asian',
       '  Race Black', '  Race Pacific Islander', '  Race White',
       '  Two or more Races ', ' Gender', ' System Name', 'State', 'System ID',
       'Year'],
      dtype='object')


Index([' Grade 01', ' Grade PK', ' System Name', ' Total', 'Grade 02',
       'Grade 03', 'Grade 04', 'Grade 05', 'Grade 06', 'Grade 07', 'Grade 08',
       'Grade 09', 'Grade 10', 'Grade 11', 'Grade 12', 'Grade KK', 'State',
       'System ID', 'Year'],
      dtype='object')


Index(['  BL', '  D', '  DB', '  EBD', '  HH', '  MID', '  MoID', '  OI',
       '  PID', '  SDD', '  SI', '  SID', '  SLD', '  TBI', '  VI ', ' AUT',
       ' OHI', ' System Name', 'State', 'System ID', 'Year'],
      dtype='object')

In [17]:
gender_pivot = pd.pivot_table(all_years[0][0],index=[' System Name', 'Year'], columns=[' Gender'])
print(gender_pivot.head())

                            System ID
 Gender                        Female   Male  Total
 System Name           Year
Appling County         2019     601.0  601.0  601.0
Atkinson County        2019     602.0  602.0  602.0
Atlanta Public Schools 2019     761.0  761.0  761.0
Bacon County           2019     603.0  603.0  603.0
Baker County           2019     604.0  604.0  604.0

In [11]:
ethnicity_pivot = pd.pivot_table(all_years[0][0],index=[' System Name', 'Year','  Race Black', '  Race Pacific Islander', '  Race White', '  Two or more Races '])
print(ethnicity_pivot.head())

                                                                                            System ID
 System Name   Year   Race Black   Race Pacific Islander   Race White   Two or more Races
Appling County 2019 396          *                       995          63                        601.0
                    397          *                       980          66                        601.0
                    405          *                       1057         68                        601.0
                    413          *                       1045         68                        601.0
                    801          *                       2052         131                       601.0

In [12]:
grade_pivot = pd.pivot_table(all_years[0][1],index=[' System Name', 'Year'])
print(grade_pivot.head())

                              Grade 01   Grade PK    Total  Grade 02  \
 System Name           Year
Appling County         2019      283.5      224.5   3580.0     227.0
Atkinson County        2019      116.5      111.5   1697.0     127.0
Atlanta Public Schools 2019     4588.5     1395.0  52180.0    4557.5
Bacon County           2019      170.0       93.5   2143.0     144.0
Baker County           2019       28.5       10.5    280.0      19.0

                             Grade 03  Grade 04  Grade 05  Grade 06  Grade 07  \
 System Name           Year
Appling County         2019     257.0     276.5     292.5     270.5     262.0
Atkinson County        2019     120.5     126.0     124.5     127.5     129.5
Atlanta Public Schools 2019    4651.0    4677.5    4481.0    4001.5    3650.5
Bacon County           2019     160.5     148.5     185.0     161.5     175.0
Baker County           2019      19.5      24.0      20.0      18.5      23.5

                             Grade 08  Grade 09  Grade 10  Grade 11  Grade 12  \
 System Name           Year
Appling County         2019     266.5     267.0     261.0     209.5     219.5
Atkinson County        2019     118.5     119.0     122.5     126.0     109.5
Atlanta Public Schools 2019    3487.5    3750.5    3023.0    2792.0    2637.0
Bacon County           2019     158.0     169.0     153.0     124.5     142.5
Baker County           2019      22.5      21.5      24.0       8.0      23.5

                             Grade KK
 System Name           Year
Appling County         2019     263.0
Atkinson County        2019     118.5
Atlanta Public Schools 2019    4487.5
Bacon County           2019     158.0
Baker County           2019      17.0

In [20]:
disabled_df= all_years[0][2]
print(disabled_df.head())

    BL   D   DB   EBD   HH   MID   MoID   OI   PID   SDD  ...    SID   SLD  \
0    *   *    *    35    *    21     13    *     *    91  ...      *   138
1    *   *    *     *    *     *      *    *     *    34  ...      *    94
2    *  20    *   358    *   384    122   11     *   535  ...     25  2237
3    *   *    *     *    *     *     10    *     *    43  ...      *   107
4    *   *    *     *    *     *      *    *     *     *  ...      *    18

    TBI   VI   AUT  OHI             System Name    State System ID  Year
0     *     *   23   53          Appling County  Georgia       601  2019
1     *     *    *   38         Atkinson County  Georgia       602  2019
2    19    12  669  898  Atlanta Public Schools  Georgia       761  2019
3     *     *   19   47            Bacon County  Georgia       603  2019
4     *     *    *    *            Baker County  Georgia       604  2019

[5 rows x 21 columns]

In [32]:
#TODO: multiply by percentages to get actual total -> need another data set & delette dupes 
merged = all_years[0][0].merge((all_years[0][1].merge(right=all_years[0][2], on=[' System Name', 'State', 'Year'] )), on=[' System Name', 'State', 'Year'])
merged.rename(columns={' System Name':'County'}, inplace = True)
merged= merged.drop_duplicates()
print(merged.shape, all_years[0][0].shape, all_years[0][1].shape, all_years[0][2].shape)
print(merged.columns)
# print all columns of example county
print(merged.loc[merged['County']=='Fulton County', :].head())

(2768, 46) (1287, 12) (428, 19) (213, 21)
Index(['  Ethnic Hispanic', '  Race AmericanIndian', '  Race Asian',
       '  Race Black', '  Race Pacific Islander', '  Race White',
       '  Two or more Races ', ' Gender', 'County', 'State', 'System ID',
       'Year', ' Grade 01', ' Grade PK', ' Total', 'Grade 02', 'Grade 03',
       'Grade 04', 'Grade 05', 'Grade 06', 'Grade 07', 'Grade 08', 'Grade 09',
       'Grade 10', 'Grade 11', 'Grade 12', 'Grade KK', 'System ID_x', '  BL',
       '  D', '  DB', '  EBD', '  HH', '  MID', '  MoID', '  OI', '  PID',
       '  SDD', '  SI', '  SID', '  SLD', '  TBI', '  VI ', ' AUT', ' OHI',
       'System ID_y'],
      dtype='object')
      Ethnic Hispanic   Race AmericanIndian   Race Asian   Race Black  \
708              7175                    58         5313        19643
709              7175                    58         5313        19643
710              7379                    59         5597        19917
711              7379                    59         5597        19917
712             14554                   117        10910        39560

      Race Pacific Islander   Race White   Two or more Races   Gender  \
708                      35        12819                 1430  Female
709                      35        12819                 1430  Female
710                      24        13607                 1435    Male
711                      24        13607                 1435    Male
712                      59        26426                 2865   Total

            County    State     ...         PID    SDD    SI    SID    SLD  \
708  Fulton County  Georgia     ...           *   1015  1136     56   3499
709  Fulton County  Georgia     ...           *   1015  1136     56   3499
710  Fulton County  Georgia     ...           *   1015  1136     56   3499
711  Fulton County  Georgia     ...           *   1015  1136     56   3499
712  Fulton County  Georgia     ...           *   1015  1136     56   3499

       TBI    VI    AUT   OHI  System ID_y
708     19     17  1232  1416          660
709     19     17  1232  1416          660
710     19     17  1232  1416          660
711     19     17  1232  1416          660
712     19     17  1232  1416          660

[5 rows x 46 columns]

In [34]:
# for col in race_cols: 
# for each county: 
# for Female & Male: (df["col"] where gender == gender).value * df[col][row].value
# after inner loop: delete entire